* {
    margin: 0;
}

.app {
    background-color: #111;
}


/* Positioning banner and color */

.banner {
    color: white;
    object-fit: contain;
    /* object stay in center */
    height: 448px;
}


/* Positioning banner content */

.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}


/* Styling banner title */

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}


/* Styling banner description font*/

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vh;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;
}

.banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
    outline: none;
    cursor: pointer;
}


/* Creates a fade in banner bottom effect */

.banner--fateBottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    /* display: flex;
    justify-content: space-between; */
}

.nav__black {
    background-color: #111;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
    cursor: pointer;
}


/* Positioning rows to right */

.row {
    margin: 20px;
    color: white;
}


/* Positioning in flex */

.row__posters {
    display: flex;
    overflow-y: hidden;
    /* Makes title stay while scrolling */
    overflow-x: scroll;
    /*added scrollbar to x */
    padding: 20px;
    cursor: pointer;
}

.row__posters::-webkit-scrollbar {
    /*hidden scrollbar on x */
    /* Removes scrollbar, but keeps functionality */
    display: none;
}


/* Positioning of rows */

.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    /* Delay effect */
    transition: transform 450ms;
}

.row__poster:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.row__posterLarge {
    max-height: 250px;
    cursor: pointer;
}

.row__posterLarge:hover {
    transform: scale(1.09);
}

@media screen and (max-width:500px) {
    .row__poster {
        width: 300px;
    }
    .row__posterLarge {
        width: 300px;
    }
}

.loginScreen__logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.loginScreen__button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    outline: none;
}

.loginScreen__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%); */
}

.loginScreen__body {
    position: absolute;
    top: 70px;
    z-index: 1;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto; */
    color: white;
    padding: 20px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.loginScreen__body>h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.loginScreen__body>h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body>h3 {
    font-size: 1rem;
    font-weight: 300;
}

.loginScreen__input>form>input {
    padding: 10px;
    outline-width: 0;
    /* get rid of the blue line inside input box */
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.loginScreen_getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    background-color: red;
    border: none;
    overflow: auto;
    cursor: pointer;
}

.loginScreen__input {
    margin: 20px;
}

@media screen and (max-width: 1480px) and (orientation: landscape) {
    .loginScreen {
        position: relative;
        height: auto;
        background: url("http://mppmduse2pmpovwapp.azurewebsites.net/wp-content/uploads/2019/09/netflix-background-9.jpg") center center no-repeat;
        /* background-position: center;
        background-repeat: no-repeat; */
        background-size: 100% 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 300px) {
    .loginScreen {
        background-image: url('http://mppmduse2pmpovwapp.azurewebsites.net/wp-content/uploads/2019/09/netflix-background-9.jpg') center center no-repeat;
        height: 100vh;
        overflow: auto;
    }
}

@media screen and (max-width: 480px) {
    .loginScreen__input>form>input {
        padding: 10px;
        outline-width: 0;
        height: 30px;
        width: 30%;
        border: none;
        max-width: 600px;
    }
    .loginScreen_getStarted {
        padding: 16px 5px;
        font-size: 1rem;
        color: #fff;
        background-color: #e50914;
        border: none;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.5s ease;
        overflow: auto;
    }
    .loginScreen_getStarted:hover,
    .loginScreen__button:hover {
        background-color: #bd2121;
        outline: none;
    }
}

.signupScreen>form {
    display: grid;
    flex-direction: column;
    width: 100%;
}

.signupScreen {
    max-width: 240px;
    /* max-height: 220px; */
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.85);
}

.signupScreen>form>input {
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

.signupScreen>form>button {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    outline: none;
}

.signupScreen>form>h1 {
    text-align: left;
    margin-bottom: 25px;
}

.signupScreen__gray {
    color: gray
}

.signupScreen__link:hover {
    cursor: pointer;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (min-width: 300px) {
    .signupScreen>form {
        display: grid;
        flex-direction: column;
        width: 100%;
    }
}

.profileScreen {
    height: 100vh;
    color: white;
    background-color: black;
    overflow: auto;
}

.profileScreen_body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

.profileScreen__info {
    display: flex;
}

.profileScreen_body>h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profileScreen__info>img {
    height: 100px;
}

.profileScreen__details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__details>h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}

.profileScreen__plans {
    margin-top: 20px;
}

.profileScreen__plans>img {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.plansScreen__plan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
    color: #fff;
}

.plansScreen__plan:hover {
    opacity: 1;
}

.plansScreen__plan>button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    outline: none;
}

.plansScreen__plan--disable>button {
    background-color: gray !important;
    outline: none;
}

.userNamespan {
    color: black
}

@media screen and (max-height: 300px) {
    .profileScreen {
        height: 100vh;
        background-color: black;
        overflow: auto;
    }
}