/* Positioning rows to right */

.row {
    margin: 20px;
    color: white;
}


/* Positioning in flex */

.row__posters {
    display: flex;
    overflow-y: hidden;
    /* Makes title stay while scrolling */
    overflow-x: scroll;
    /*added scrollbar to x */
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    /*hidden scrollbar on x */
    /* Removes scrollbar, but keeps functionality */
    display: none;
}


/* Positioning of rows */

.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    /* Delay effect */
    transition: transform 450ms;
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posterLarge {
    max-height: 250px;
}

.row__posterLarge:hover {
    transform: scale(1.09);
}